.smedia{
    position: absolute;
    width: 100%;  
    top: 400px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.footer{
  background-color:  rgba(225, 147, 203, .4);
  padding: 3px;
  color: black;
}

hr{
  border-top: 1px solid lightslategray;
}

.float:hover{
    position: relative;
    -webkit-animation: float .5s 2; 
    animation: float .5s 2;
  }
  
  @-webkit-keyframes float {
    0%{left: 1px;top: 1px}
    25%{left: -3px;top: -3px}
    50%{left: 2px;top: -3px}
    100%{left: -1px;top: 1px}
  }
  
  @keyframes float {
    0%{left: 1px;top: 1px}
    25%{left: -3px;top: -3px}
    50%{left: 2px;top: -3px}
    100%{left: -1px;top: 1px}
  }
  

.content{
  position: absolute;
  width:100%;
  left: 35%;
  background-color: white;
}

@media screen and (max-width: 992px) {

  .content{
    position: absolute;
    width:120%;
    left: 0%;
    background-color: white;
  }
} 

.font{
  font-family: 'Satisfy', cursive;
  font-size: 23pt;
}

.pcicon{
  position : absolute;
  top : 30%;
}